<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>Delete Distributors</h1>
      <h4 style="padding-top:20px;">Select a Distributor:</h4>
      <select id="dist_del_select" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @distributors.each do |d| %>
          <option value= <%= d.id %> > <%= d.name %> </option>
        <% end %>
      </select>
      <% @theObject = @distributor %>
      <%= render "shared/error_messages" %>
      <div style="height:40px"></div>
      <button type="button" class="btn btn-primary" id="btn_dist_delete">Delete distributor</button>
    </div>
  </div>
</container>
