<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>View/Edit Registrations</h1>
      <h4 style="padding-top:20px;">Select a Registration:</h4>
      <select id="reg_select" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @registrations.each do |r| %>
          <option value= <%= r.id %> > <%= r.name %> </option>
        <% end %>
      </select>
    </div>
  </div>
</container>
