
  <%# <div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control">
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div> %>
  
  <%# create_table "registrations", force: :cascade do |t|
    t.integer "project_id"
    t.integer "contact_id"
    t.date "expiration"
    t.text "notes"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["contact_id"], name: "index_registrations_on_contact_id"
    t.index ["project_id"], name: "index_registrations_on_project_id"
  end %>