<%= render "shared/menu"%>
<container>
  <div class="row">
    <div class="col-lg-6" style="padding-top:20px; padding-left:50px;">
        <%= render "shared/user_preferences"%>
    </div>
    <div class="col-lg-6" style="padding-top: 20px;">
    </div>
  </div>
</container>