<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>View/Edit Companies</h1>
      <h4 style="padding-top:20px;">Select a Company:</h4>
      <select id="comp_select" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @companies.each do |c| %>
          <option value= <%= c.id %> > <%= c.name %> </option>
        <% end %>
      </select>
    </div>
  </div>
</container>