<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>View/Edit Products</h1>
      <h4 style="padding-top:20px;">Select a Product:</h4>
      <select id="prod_select" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @products.each do |p| %>
          <option value= <%= p.id %> > <%= p.name %> </option>
        <% end %>
      </select>
    </div>
  </div>
</container>
