<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <h1>Delete Products</h1>
      <h4 style="padding-top:20px;">Select a Product:</h4>
      <select id="prod_del_select" class="data-searchable" style="width:300px;">
        <option value=0></option>
        <% @products.each do |p| %>
          <option value= <%= p.id %> > <%= p.name %> </option>
        <% end %>
      </select>
      <% @theObject = @product %>
      <%= render "shared/error_messages" %>
      <div style="height:40px"></div>
      <button type="button" class="btn btn-primary" id="btn_prod_delete">Delete product</button>
    </div>
  </div>
</container>
