<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <div style="padding-top:3em;">
        <h1>Add a Product</h1>
      </div>
      <%= render "shared/product_form" %>
    </div>
  </div>
</container>
