<%= render "shared/menu" %>

<container>
  <div class="row">
    <div class="mx-auto" style="width:300px; padding-top:20px;">
      <div style="padding-top:3em;">
        <h1>Add a Shipment</h1>
      </div>
      <% @theObject = @shipment %>
      <%= render 'shared/error_messages' %>
      <%= render "shared/shipment_form" %>
    </div>
  </div>
</container>
